<%= render 'inicio/header' %>

<!-- Helping Section -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Antecedentes del Grupo México-Guatemala</h3>
      </div>
    </div>
    <div class="row">
      <div class="helping-description col-xs-12 col-md-10">
        <p>Guatemala y México se encuentran en un proceso de reconfiguración democrática desde que comenzó el siglo XXI; en el cual se debe facilitar la participación ciudadana para la construcción de las políticas públicas referentes a temas de migración. Estas constituyen un eje prioritario en la situación mencionada, sobre todo si se considera la dimensión que el fenómeno migratorio ha adquirido en los últimos años en ambos países. La movilidad de los mexicanos hacia Estados Unidos es un fenómeno que forma parte de la historia de México. No obstante, en años recientes, esta dinámica y la atención que la misma requiere, adquirió una importancia inédita. Lo antedicho se ve reflejado en la priorización del tema dentro de las agendas políticas de los países correspondientes.</p>
        <p>Por su parte, México no sólo ha consolidado su carácter de país de origen de flujos migratorios, sino que también se ha convertido en nación de destino y tránsito de población. Por otra parte, diversos sectores de la sociedad guatemalteca han cobrado conciencia de la presencia de, una cada vez más grande, comunidad de familias de origen guatemalteco residentes en Estados Unidos, cuya magnitud se estimó recientemente en más de un millón de personas. Su importancia se ha traducido, entre otros indicadores, en el envío regular de remesas en dinero, así como también por las relaciones establecidas con las comunidades de origen, todo lo cual le ha conferido un papel fundamental en la vida nacional contemporánea. Al igual que México, este país también se ha convertido en un territorio de destino y de tránsito de personas, cuya dinámica se suma al movimiento se salida de sus nacionales, que tienen como destino principal el Norte.</p>
        <p>Por esas razones, El Colegio de México, la Facultad Latinoamericana de Ciencias Sociales (FLACSO) Sede Académica Guatemala y el Instituto Centroamericano de Estudios Sociales y Desarrollo (INCEDES) consideraron la importancia de promover una iniciativa ciudadana binacional que permitiera ampliar, más allá de las instancias gubernamentales, los espacios de expresión y de discusión sobre el tema. Derivado de lo anterior, a mediados de 2002, se constituyó el Grupo Guatemala - México sobre Migración y Desarrollo, cuyo propósito radicó en la elaboración de una propuesta de lineamientos de política pública migratoria, para ser presentados y discutidos en esferas gubernamentales y sectores sociales y políticos interesados.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Helping Section --> 

<%= render 'inicio/footer' %>

<script src="/js/functions.js"></script>
