<%= render 'inicio/header' %>

<!-- Helping Section -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Los flujos migratorios y sus implicaciones</h3>
      </div>
    </div>
    <div class="row">
      <div class="helping-description col-xs-12 col-md-10">
        <p>Los flujos migratorios entre Guatemala y México han registrado históricamente una dinámica intensa, sobre todo por la participación de trabajadores guatemaltecos que cruzan la frontera terrestre para participar en mercados laborales chiapanecos. A este proceso se sumó la presencia de los refugiados guatemaltecos que se ubicaron en el estado de Chiapas a principios de los años ochenta. Asimismo, desde mediados del decenio de los ochenta, se observó una corriente de personas en tránsito (transmigrantes) procedentes de diversos países de América Latina –incluyendo a Guatemala– y de otros continentes, quienes desde esa época utilizan los territorios guatemalteco y mexicano para dirigirse a Estados Unidos de manera no autorizada.</p>
        <p>A partir de los años noventa también se ha registrado un flujo muy intenso de transmigrantes autorizados que transportan vehículos usados y otro tipo de mercancías (muebles, electrodomésticos, etc.) para su venta en las naciones centroamericanas. De esta cuenta, tanto Guatemala como México, se han constituido en países de tránsito de personas que se dirigen a/o proceden de Estados Unidos. Esta dinámica plantea la necesidad de que ambos países asuman y administren esa realidad, pero a la vez gestionen sus políticas migratorias incluyendo de manera corresponsable al país de destino final.</p>
        <p>Durante los últimos años, los dos gobiernos han realizado modificaciones a las leyes y procedimientos para regular los movimientos migratorios en sus respectivos territorios. En particular, Guatemala; que adoptó una nueva Ley de Migración y México introdujo reformas a la Ley General de Población y su Reglamento. Pero el rasgo más preocupante es la prevalencia de una lógica de seguridad en ausencia de consideraciones acerca de la relación entre la migración y el desarrollo. De ahí que el hecho más notable haya sido la orientación hacia medidas cada vez más restrictivas y la adopción de otras para la deportación (el aseguramiento  detención y la devolución)  de extranjeros no autorizados. En todo caso, se puede afirmar que los cuerpos jurídicos han sido ampliamente rebasados por las dinámicas migratorias, de las cuales sus territorios son escenarios cotidianos.</p>
        <p>Los procesos migratorios entre Guatemala y México ocurren en el marco de un conjunto de asimetrías estructurales, mismas que, en diversos planos, atraviesan las relaciones entre ambos países. Ello influye en la forma en que estos gobiernos definen políticas diferenciadas respecto de la migración, a pesar de que comparten el carácter de países de origen, tránsito, destino y retorno de flujos migratorios. En ese sentido, México y Guatemala no han realizado esfuerzos suficientes, efectivos y sostenidos de desarrollo regional en las zonas de salida de migrantes, que brinden condiciones dignas y oportunidades de desarrollo para sus poblaciones. Pero al mismo tiempo, tampoco se han formulado programas de orientación y protección que tengan como propósito el ordenamiento de los flujos migratorios y el otorgamiento de seguridades y garantías a los migrantes en sus desplazamientos.</p>
        <p>Esa situación de movilidad en condiciones de desventaja para los migrantes ha configurado un escenario de riesgos y vulnerabilidades, así como un campo propicio para la corrupción, la violación de derechos humanos y el desarrollo de ilícitos como el tráfico y la trata de personas, con consecuencias negativas para la seguridad y los derechos de estas personas. Estos riesgos se incrementan ante la ausencia de mecanismos efectivos para su prevención y para la protección de las víctimas, en un ambiente de impunidad.</p>
        <p>El contexto que viven actualmente los dos países sigue siendo de muchas presiones, sobre todo provenientes del exterior, en alto grado orientadas a la redefinición de sus políticas migratorias. El clima antiterrorista y las consecuencias de la hegemonía de una visión de seguridad son constantes en el tratamiento del fenómeno migratorio en la región, lo cual puede tener como consecuencia una reducción de los márgenes de acción de los gobiernos y una pérdida de autonomía en decisiones soberanas.</p>
        <p>Es innegable que el aporte de los migrantes a sus sociedades de origen y destino va más allá de su contribución para dinamizar las economías; su presencia y participación en la vida de esas comunidades generan también riqueza social, cultural y política. No obstante, es necesario tener en cuenta que esos procesos tienen lugar en condiciones de asimetría, tanto para los migrantes en relación con las sociedades de los lugares de destino, como para sus familiares en las sociedades de los países de origen. De esta cuenta, no se reconoce ni se valora de manera suficiente la diversidad de sus aportes y la fuerza política que eventualmente unos y otros pueden desarrollar.</p>
        <p>Las migraciones hoy día constituyen un factor que alivia diversas presiones sociales generadas por la falta de acceso a oportunidades de desarrollo personal, familiar y comunitario en los países de origen. Los migrantes son personas que apuestan por el futuro de sus familias y el de las próximas generaciones; por ello, están dispuestas al trabajo, a ofrecer su fuerza laboral, sus conocimientos y experiencias. Son trabajadores esenciales para las economías de los países a los que se dirigen, pero también son una pérdida para sus países de origen.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Helping Section --> 

<%= render 'inicio/footer' %>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/functions.js"></script>
