<%= render 'inicio/header' %>

<!-- Helping Section -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Nuestras propuestas y acciones</h3>
      </div>
    </div>
    <div class="row">
      <div class="helping-description col-xs-12 col-md-10">
        <p>En materia de Migración y Desarrollo, el Grupo ratificó su convicción de que el fenómeno, a niveles regionales, puede aportar al desarrollo de las sociedades (de origen, tránsito, destino y retorno) en la medida en que se avance de manera sostenida en la comprensión de este proceso social y en la adopción de abordajes integrales. Es por ello que el grupo consideró necesario el impulso de una política migratoria integral entre ambos países que priorizara la necesidad de generar información y conocimiento sobre el fenómeno migratorio y sus implicaciones.</p>
        <p>Las iniciativas de integración regional y bilateral, así como las políticas y programas nacionales de desarrollo socioeconómico incluyeron de manera explícita el tema migratorio en todas sus dimensiones para asegurar su articulación y operación efectiva con políticas, planes y acciones sectoriales, que garantizaron el logro de sus propósitos. De manera especial, los Estados implicados debieron diseñar y ejecutar programas específicos de desarrollo en las regiones de origen de las migraciones, así como en las zonas fronterizas de ambos países, para generar condiciones y oportunidades para las poblaciones potencialmente migrantes.</p>
        <p>Ambos países se comprometieron a un ejercicio sostenido y sistemático de generación de información que permitió la producción de conocimiento sólido sobre la dinámica migratoria entre las dos naciones y esto posibilitó la toma de decisiones informada y fundamentada en elementos científicos.</p>
        <p>El grupo tuvo la convicción de que los Estados guatemalteco y mexicano, en tanto parte de la Convención Internacional sobre la Protección de los Derechos de Todos los Trabajadores Migratorios y de sus Familiares, deben instrumentar las obligaciones contraídas, adecuar su normatividad interna y verificar el adecuado cumplimiento de sus preceptos. Así como en el campo de los Derechos Humanos, el Grupo planteó que, con el objeto de que las políticas migratorias conservaran como prioritario su sentido humanitario y garantizaran el debido proceso de las poblaciones migrantes, era necesario que los Estados involucrados antepusieran la condición humana de dichas poblaciones por encima de cualquier otra consideración relacionada con temas de seguridad, que además puedan vulnerar su dignidad e integridad.</p>
        <p>Los Estados deben garantizar que todas las convenciones internacionales en materia de Derechos Humanos, de las cuales son parte, sean instrumentos de derecho positivo en la definición de políticas, formulación de planes y programas, y en la ejecución de los mismos. Dentro de ellas cabe resaltar la Convención de Viena sobre Relaciones Consulares de 1963, que establece el marco jurídico para la protección de las personas fuera de su país de origen.</p>
        <p>Asimismo, debe mantener la vigencia y efectividad de las obligaciones adquiridas en tanto partes de la Convención y el Protocolo de Naciones Unidas sobre el Estatuto de los Refugiados (1951 y 1963), con el objeto de preservar las instituciones del asilo y el refugio para aquellas personas demandantes de protección y asistencia, así como también para garantizar el principio de no devolución.</p>
        <p>En coherencia con lo anterior, es necesario que la protección consular se defina como una responsabilidad prioritaria dentro de las diversas tareas consulares, así como el impulso de una política de fortalecimiento de la misma, que incluya la capacitación y la profesionalización del servicio.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Helping Section --> 

<%= render 'inicio/footer' %>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/functions.js"></script>
