<!doctype html>
<html class="no-js" lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Grupo Guatemala-México. Migración y desarrollo</title>
<meta name="description" content="El Grupo fue producto de una iniciativa ciudadana plural, integrado por veintidós personas, mujeres y hombres, provenientes de sectores diversos de las sociedades de ambos países (México y Guatemala) entre los que se encuentran académicos, organizaciones civiles, religiosas, comunicadores sociales, artistas y empresarios. Todas ellas, personas interesadas en los estudios de la migración y percibiendo al fenómeno como una oportunidad para el desarrollo y el bienestar de ambos países. El grupo Guatemala México. Migración y Desarrollo, fue plural y diverso en experiencias, perspectivas e ideas, coadyuvó a la definición de principios y propuestas concretas, como resultado de un ejercicio colectivo de construcción a partir del diálogo, la tolerancia y el respeto a las diferencias.">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
<!-- Header Section -->
<%= yield %>

</body>
</html>
